# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
/Supermarket_Java/Supermarket/nbproject/private/
/Supermarket_Java/Test_Supermarket_Java/nbproject/private/
/Supermarket_Java/Supermarket/build/
